{{template "header"}}

<div class="calendar-nav">
    <a href ="{{ .PrevYear | calendarURL }}">
        <i class="icon-arrow-s-left"></i>
    </a>
    <a href ="{{ .PrevMonth | calendarURL }}">
        <i class="icon-arrow-left"></i>
    </a>
    <span class="calendar-yearmonth">
        {{ .Month | yearMonthDisplay }}
    </span>
    <a href ="{{ .NextMonth | calendarURL }}">
    <i class="icon-arrow-right"></i>
    </a>
    <a href ="{{ .NextYear | calendarURL }}">
        <i class="icon-arrow-s-right"></i>
    </a>
</div>

<div class="calendar-frame">
    <div></div>
    <div class="calendar-column-header">Montag</div>
    <div class="calendar-column-header">Dienstag</div>
    <div class="calendar-column-header">Mittwoch</div>
    <div class="calendar-column-header">Donnerstag</div>
    <div class="calendar-column-header">Freitag</div>
    <div class="calendar-column-header">Samstag</div>
    <div class="calendar-column-header">Sonntag</div>
    {{ range .Days }}
        {{ if .Date | isFirstOfWeek }}
        <div class="calendar-week">
            {{ .Date | ISOWeek }}
        </div>
        {{end}}
        <div class="calendar-day">
            <div class="calendar-day-no">{{ .Date.Format "2" }}</div>
            <br>

            {{ if .Document }}
                <a href="/entry/{{ .Document.GUID }}" title="{{ .Document.Title }}">
                    {{ if .Document.HasPreview }}
                    <img src="{{ .Document.Preview }}">
                    {{ else }}
                    <div class="calendar-day-preview-placeholder">
                        <i class="icon-entry-calendar"></i>
                    </div>
                    {{ end }}
                </a>
                <span class="calendar-location" title="{{ .Document.FirstLocationTag }}">
                    {{ .Document.FirstLocationTag | shortenLocation }}
                </span>
            {{ end }}
        </div>
    {{ end }}
</div>

{{template "footer"}}