{{template "header"}}
<div class="entry-title-bar">
    <div class="entry-date">
        <a href="{{ .Document.Date | calendarURL }}">{{ .Document.Date.Format "2006-01-02" }}</a>
    </div>
    <div>
        <h1>{{ .Document.Title }}</h1>
    </div>
</div>
<div class="abstract">
    {{ if .Document.HasAbstract }} {{ .Document.Abstract }} {{ end }}
</div>
<div class="tag-icon-bar">
    <div class="tag-bar">
        {{template "tagbar" .Document.Tags}}
    </div>
    <div class="tag-bar">
        {{ template "icon-bar" .Document }}
    </div>
</div>
<div id="content">
    {{ .Fragment }}
</div>
{{template "footer"}}