{{define "tagbar"}}
    {{range .}}
        {{template "tag" .}}
    {{end}}
{{end}}

{{define "tag"}}
    <a href="{{ . | tagURL }}"><span class="tag" style="background-color:{{ tagColor . }}">{{ tagDisplay . }}</span></a>
{{end}}

{{define "icon-bar"}}
<div class="icon-bar">
{{ if .HasGallery }}
    <a href="{{ . | entryURL }}#{{ .GalleryElementID 0 }}"><i class="icon-gallery-fill"></i></a>
{{ end }}
{{ if .HasMap }}
    <a href="{{ . | entryURL }}#{{ .MapElementID 0 }}"><i class="icon-map"></i></a>
{{ end }}
</div>
{{end}}